name: Build and Deploy

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [self-hosted, x-ui]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Generate geosite.dat
        env:
          COMPOSE_BAKE: true
        run: |
          docker compose up --build --abort-on-container-exit

      - name: Check output file permissions
        run: |
          ls -l output/
          file output/custom.dat
          head output/custom.dat || echo "cannot read"

      - name: Backup old and apply new geosite.dat
        run: |
          [ -f /usr/local/x-ui/bin/custom.dat ] && sudo cp /usr/local/x-ui/bin/custom.dat /usr/local/x-ui/bin/custom.dat.bak
          sudo mv output/custom.dat /usr/local/x-ui/bin/custom.dat
          sudo x-ui restart

      - name: Clean up previous containers
        run: |
          yes | docker system prune
